USE [LBD10]
GO
/****** Object:  Table [dbo].[tipoEmpleado]    Script Date: 14/09/2019 11:17:57 a. m. ******/
DROP TABLE IF EXISTS [dbo].[tipoEmpleado]
GO
/****** Object:  Table [dbo].[ticket]    Script Date: 14/09/2019 11:17:57 a. m. ******/
DROP TABLE IF EXISTS [dbo].[ticket]
GO
/****** Object:  Table [dbo].[formaPago]    Script Date: 14/09/2019 11:17:57 a. m. ******/
DROP TABLE IF EXISTS [dbo].[formaPago]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 14/09/2019 11:17:57 a. m. ******/
DROP TABLE IF EXISTS [dbo].[factura]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 14/09/2019 11:17:57 a. m. ******/
DROP TABLE IF EXISTS [dbo].[empleados]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 14/09/2019 11:17:57 a. m. ******/
DROP TABLE IF EXISTS [dbo].[clientes]
GO
USE [master]
GO
/****** Object:  Database [LBD10]    Script Date: 14/09/2019 11:17:57 a. m. ******/
DROP DATABASE IF EXISTS [LBD10]
GO
/****** Object:  Database [LBD10]    Script Date: 14/09/2019 11:17:57 a. m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'LBD10')
BEGIN
CREATE DATABASE [LBD10]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LBD10', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LBD10.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LBD10_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LBD10_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LBD10].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LBD10]
GO
USE [LBD10]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 14/09/2019 11:17:58 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[clientes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[clientes](
	[uidCliente] [int] NOT NULL,
	[vNombre] [varchar](50) NULL,
	[vApPat] [varchar](50) NULL,
	[vApMat] [varchar](50) NULL,
	[vDomicilio] [varchar](50) NULL,
	[vtelefono] [varchar](50) NULL,
	[vNomCom] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[uidCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 14/09/2019 11:17:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[empleados]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[empleados](
	[uidEmpleado] [int] NOT NULL,
	[vNomCom] [varchar](50) NULL,
	[vNombre] [varchar](50) NULL,
	[vApPat] [varchar](50) NULL,
	[vApMat] [varchar](50) NULL,
	[vDomicilio] [varchar](50) NULL,
	[vTelefono] [varchar](50) NULL,
	[vCorreo] [varchar](50) NULL,
	[iEdad] [int] NULL,
	[vGenero] [varchar](50) NULL,
	[dFechaNac] [date] NOT NULL,
	[uCurp] [int] NULL,
	[uIdPuesto] [int] NULL,
	[dFechaIngreso] [date] NULL,
	[vStatus] [varchar](1) NULL,
	[iIdTipoEmpleado] [int] NULL,
	[fSalario] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[uidEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[factura]    Script Date: 14/09/2019 11:17:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[factura]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[factura](
	[iIdFactura] [int] NOT NULL,
	[vIdTicket] [varchar](50) NULL,
	[vNombreCliente] [varchar](50) NULL,
	[vTelefono] [varchar](50) NULL,
	[vEmail] [varchar](50) NULL,
	[mPago] [money] NULL,
	[mPrecio] [money] NULL,
	[dFecha] [date] NULL,
	[vVendedor] [varchar](50) NULL,
	[vProducto] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[formaPago]    Script Date: 14/09/2019 11:17:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[formaPago]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[formaPago](
	[uIdFormaPago] [int] NOT NULL,
	[vFormaPago] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[uIdFormaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ticket]    Script Date: 14/09/2019 11:17:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ticket]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ticket](
	[iIdTicket] [int] NULL,
	[vUsuario] [varchar](50) NULL,
	[vProducto] [varchar](50) NULL,
	[mPrecio] [money] NULL,
	[dFecha] [date] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tipoEmpleado]    Script Date: 14/09/2019 11:17:59 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tipoEmpleado]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tipoEmpleado](
	[iIdTipoEmpleado] [int] NOT NULL,
	[vTipoEmpleado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdTipoEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
USE [master]
GO
